#----------------------------------------------------------------
#         Socfony server application configuration.
#
# This file is used to configure the Socfony server application.
#
# Use the `dart run tools/configure.dart` command to generate the
# actual configuration file.
#-----------------------------------------------------------------

# Database connection string.
DATABASE_URL: postgres://seven@localhost:5432/socfony?schema=public

# Development database connection string.
#
# If this is not set, the `DATABASE_URL` value will be used.
DATABASE_URL_DEV:

# Server listen port.
#
# If the port is already in use, the server will
# automatically use the free port.
LISTEN_PORT:

# Server listen address.
# 
# If the address not set, the server will listen on localhost.
LISTEN_ADDRESS: 
