import 'dart:io' as io;
import 'package:easysms/easysms.dart' as easysms;
import 'database/options.dart' as database;
import 'phone_ont_time_password/options.dart';

/// Database connection options.
const database.DatabaseConnectionOptions kDatabaseConnectionOptions =
    database.DatabaseConnectionOptions(
  host: 'localhost',
  port: 5432,
  databaseName: 'socfony',
  username: 'seven',
  password: null,
);

/// Database connection max allocated connections.
final int kDatabaseConnectionMaxAllocatedResources =
    io.Platform.numberOfProcessors * 2 + 1;

/// Tencent Cloud short message service geteway.
const easysms.Geteway kTencentCloudShortMessageServiceGeteway =
    easysms.TencentCloudGeteway(
  appId: 'You Tencent Cloud SMS APP ID>',
  secretId: 'You Tencent Cloud Secret ID',
  secretKey: 'You Tencent Cloud Secret Key',
);

/// Access token short message service options.
/// Send phone one-time password sms options.
const SendOtpSmsOptions kSendOtpSmsOptions = SendOtpSmsOptions(
  signName: '耦左科技',
  templateId: '617248',
  params: [
    '{otp}',
    '{minutes}',
  ],
);
