import 'dart:io' as io;
import 'package:easysms/easysms.dart' as easysms;
import 'database/options.dart' as database;
import 'services/access_token/options.dart';

/// Database connection options.
const database.DatabaseConnectionOptions kDatabaseConnectionOptions =
    database.DatabaseConnectionOptions(
  host: 'localhost',
  port: 5432,
  databaseName: 'socfony',
  username: 'seven',
  password: null,
);

/// Database connection max allocated connections.
final int kDatabaseConnectionMaxAllocatedResources =
    io.Platform.numberOfProcessors * 2 + 1;

/// Tencent Cloud short message service geteway.
const easysms.Geteway kTencentCloudShortMessageServiceGeteway =
    easysms.TencentCloudGeteway(
  appId: 'You Tencent Cloud SMS APP ID>',
  secretId: 'You Tencent Cloud Secret ID',
  secretKey: 'You Tencent Cloud Secret Key',
);

/// Access token short message service options.
const AccessTokenShortMessageServiceOptions
    kAccessTokenShortMessageServiceOptions =
    AccessTokenShortMessageServiceOptions(
  signName: 'Your Tencent Cloud SMS Sign Name',
  templateId: 'You Tencent Cloud SMS Template ID',
  params: [
    '{otp}',
    '{minutes}',
  ],
);
